@model fa22LBT.Models.BankAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <input asp-for="AccountID" class="form-control" />
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>
                <select asp-for="AccountType" class="form-control"></select>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBalance" class="control-label"></label>
                <input asp-for="AccountBalance" class="form-control" />
                <span asp-validation-for="AccountBalance" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

