@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <a asp-controller="Transactions" asp-action="Create" class="btn-primary">Deposit/Withdraw</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Transactions" asp-action="CreateTransfer" class="nav-link">Make Transfer</a>
        </li>
        <li class="nav-item">
            <a asp-controller="StockTransactions" asp-action="Create" class="nav-link">Buy Stocks</a>
        </li>
    }
    else if (User.IsInRole("Employee"))
    {
        <li class="nav-item">
            <a asp-controller="Transactions" asp-action="Create" class="btn-primary">Deposit/Withdraw</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Transactions" asp-action="CreateTransfer" class="nav-link">Make Transfer</a>
        </li>
        <li class="nav-item">
            <a asp-controller="StockTransactions" asp-action="Create" class="nav-link">Buy Stocks</a>
        </li>
    }
}
else
{
    <h1> Welcome to LONGHORN BANK!</h1>
    <p>All of your accounts in one place! We offer the following services:</p>
    <li>Checking</li>
    <li>Savings</li>
    <li>IRA</li>
    <li>Stock Portfolio</li>
    <p>Sign up today!</p>
    <a asp-controller="Account" asp-action="Register">Register Now</a>
}