@model fa22LBT.Models.StockHolding

@{
    ViewData["Title"] = "Sell";
}

<h1>Sell</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @ViewBag.Message
        <form asp-action="Sell">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StockHoldingID" />
            <div class="form-group">
                <h4>You currently own: </h4>
                @Html.DisplayFor(model => model.QuantityShares)
                stocks of
                @Html.DisplayFor(model => model.Stock.StockName)
            </div>
            <div class="form-group">
                <h4>Input a number to Sell: </h4>
                <input asp-for="QuantityShares" class="form-control" />
                <span asp-validation-for="QuantityShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Sale Date: </h4>
                <input type="date" id="dateTime" name="dateTime"
                       value="@DateTime.Now" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sell" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

